.checklist-margin {
    margin-bottom: 5px;
    margin-top: 0;
}

.select-btn {
    position: relative; 
    height: 1em; 
    width: 1em; 
    margin-left: 15px; 
    cursor: pointer;
}

.back-square {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    height: 1em; 
    width: 1em; 
    font-size: 1em;
}

.front-square {
    position: absolute; 
    top: 4px; 
    left: 4px; 
    height: 1em; 
    width: 1em; 
    font-size: 1em ; 
    background-color:white;
}
