<div class="row form-group" ng-class="{ 'form-horizontal':  !properties.labelHidden && properties.labelPosition === 'left' }">
    <div class="col-xs-{{ properties.labelPosition === 'left' ? properties.labelWidth : 12 }}" style="display: inline-flex;">
       <label
            ng-if="!properties.labelHidden && properties.allowHTML"
            class="control-label"
            ng-bind-html="properties.label | uiTranslate">
        </label>
        <label
            ng-if="!properties.labelHidden && !properties.allowHTML"
            class="control-label"
            ng-bind="properties.label | uiTranslate">
        </label> 
        <span ng-click="ctrl.selectAll()" class="select-btn" title="Tout sélectionner">
          <i class="glyphicon glyphicon-unchecked back-square"></i>
          <i class="glyphicon glyphicon-check front-square"></i>
        </span>
        
        <span ng-click="ctrl.selectNone()" class="select-btn" title="Tout désélectionner">
          <i class="glyphicon glyphicon-unchecked back-square"></i>
          <i class="glyphicon glyphicon-unchecked front-square"></i>
        </span>
    </div>

    <div ng-if="properties.inline" class="col-xs-{{ 12 - (!properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 0) }}">
        <label class="checkbox-inline" ng-repeat="choice in properties.availableValues track by $index">
            <input
                    type="checkbox"
                    name="{{ctrl.name}}"
                    ng-model="ctrl.selectedItems[$index]"
                    ng-change="ctrl.updateValues()"
                    ng-disabled="properties.disabled">
            {{ (ctrl.getLabel(choice) || choice) | uiTranslate }}
        </label>
    </div>

    <div ng-if="!properties.inline" class="col-xs-{{ 12 - (!properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 0) }}">
        <div ng-if="!properties.inline" class="checkbox checklist-margin" ng-repeat="choice in properties.availableValues track by $index">
            <label>
                <input
                        type="checkbox"
                        name="{{ctrl.name}}"
                        ng-model="ctrl.selectedItems[$index]"
                        ng-change="ctrl.updateValues()"
                        ng-disabled="properties.disabled">
                {{ (ctrl.getLabel(choice) || choice) | uiTranslate }}
            </label>
        </div>
    </div>
</div>
